@import '~antd/dist/antd.css';
.App {
  width: 700px;
  margin: 0 auto;
}
.red {
  color: indianred;
}
.products-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 8px 0 0;
}
.text-center {
  text-align: center;
}
.border {
  border: 1px solid #dddddd;
}
.pull-right {
  float: right;
}
